html, body {
  width: 300px;
}

.Button1 {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.Button2 {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.Button1:hover {
  background-color: #D3D3D3;
}

.Button2:hover {
  background-color: #D3D3D3;
}
